.wrapper
  .reg
    .reg__header
      h1.reg__title Прокачай
        span гру
      ul.reg__list
        li.reg__list-item Виконуй місії
        li.reg__list-item Накопичуй бали
        li.reg__list-item Обмінюй бали на призи
    .reg__sam
      picture
        //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam.png")
        source(media="(max-width: 1024px)" srcset="img/sam-512.png")
        source(media="(max-width: 1280px)" srcset="img/sam-640.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="sam reg")
