.wrapper
  .reg
    .reg__header
      h1.reg__title Прокачай
        span гру
      ul.reg__list
        li.reg__list-item
          img(src="img/1.svg" alt="1 quest")
          span.reg__list-text Виконуй місії
        li.reg__list-item
          img(src="img/2.svg" alt="2 quest")
          span.reg__list-text Накопичуй бали
        li.reg__list-item
          img(src="img/3.svg" alt="3 quest")
          span.reg__list-text Обмінюй бали на призи
    .reg__sam
      picture
        //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam.png")
        source(media="(max-width: 1024px)" srcset="img/sam-512.png")
        source(media="(max-width: 1280px)" srcset="img/sam-640.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="sam reg")
